body.h-body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

header.h-header {
  background-color: #333; /* black */
  color: #fff;  /* white */
  padding: 10px 0;
  text-align: center;
}

header.h-header h1{
  font-size: 1.5em ; /* When screen is small, reduce header size */
}

button.hamburger {
    display: block;
    font-size: 2.5em;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 10px auto;
}

nav.h-nav {
  display: none; /* for mobile */
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 0;
}

nav.h-nav.active {
    display: flex;
}

nav > a.h-a {
  text-decoration: underline;
  color: #fff;
  margin: 0 auto;
  padding-bottom: 8px;
}

nav > a.h-a:hover {
  text-decoration: none;
  background-color: #ddd;
  color: #333;
}

div.h-section{  
  margin: 0;
  padding: 0;
}

div.h-section:nth-child(odd) {
    background-color: #f0f0f0;
}

div.h-section:nth-child(even) {
    background-color: #fff;
}

div.container_one_column {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr; /* Single column layout for mobile */
  grid-gap: 20px; /* Gap between grid items */
  padding: 20px; /* Padding inside the container */  
}

div.container_two_column {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr; /* Single column layout for mobile */
  grid-gap: 20px; /* Gap between grid items */
  padding: 20px; /* Padding inside the container */  
}

div.one-center-div{
  display: flex;
  justify-content: center;
  align-items: center;  
}

div.one-center-div iframe {
  width: 100%;
  height: 390px;
}

div.one-center-div img {
  width: 100%;
  height: auto;
}

ul > li.h-li {
  margin-bottom: 10px; /* Adds space between list items */
  line-height: 1.5; /* Sets line height for better readability */
  padding-left: 5px /* space between list bullets and text */
}

ul > li.h-li::marker {
  color: #007bff;
}

a.h-circle{
  position: fixed;
  bottom: 30px;
  right: 15px; 
  background-color: transparent;
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}

a.h-circle.show{
  opacity: 1;
}

a.h-circle:hover{
  background-color: #a0a0a0;
}

svg.h-arrow{
  fill: #000;
  width: 1.8em; 
  height: 1.8em; 
}

footer.h-footer {
  background-color: #333; /*black*/
  color: #fff; /*white*/
  text-align: center;
  padding: 10px 0;
}

/*For medium device*/
@media screen and (min-width: 768px) {
  body.h-body {
    font-size: 135%;
  }

  header.h-header h1{
    font-size: 2.5em ;
  }

  button.hamburger {
    display: none;
  }
  
  nav.h-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto 12px;
  }

  nav > a.h-a {
    margin: 0 10px;
  }

  div.container_two_column {
    grid-template-columns: 1fr 1fr; /* Two columns in the grid */
  }

}

/*For larger device*/
@media screen and (min-width: 992px) {
  body.h-body {
    font-size: 180%;
  }
}